/*
   Custom CSS
*/

body {
    box-sizing: border-box;
    font-family: "SansSerif", sans-serif;
}

label {
    font-weight: bold;
    display: block;
    padding: 10px 5px;
}

.textCenter {
    text-align: center;
}

.backgroundBlue {
    background-color: #091a34;
}

.defaultTextColor {
    color: #091a34;
}

.textWhite {
    color: white;
}

.textBold {
    font-weight: bold;
}

.btn {
    min-width: 355px;
    height: 56px;
    font-weight: bold;
    border: 1px solid #091a34;
    font-size: 24px;
    margin: 20px auto;
    border-radius: 30px;
    background: #aaaaaa;
}

.menuBtn {

    height: 43px;
    font-weight: bold;
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 22px;
    border-radius: 30px;
    background: #091a34;
    color: white;
}

.metricsBtn {
    height: 43px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 20px;
    font-size: 24px;
    background: #091a34;
    color: white;
}

.filterBtn {
    height: 43px;
    font-weight: bold;
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 30px;
    background: #091a34;
    color: white;
}

.textRed {
    color: red;
}

.textBlue {
    color: blue;
}

.textPurple {
    color: purple;
}

.textBrown {
    color: brown;
}

.textGrey {
    color: grey;
}

.textYellow {
    color: #9b870c;
}

.textOrange {
    color: orange;
}

.textGreen {
    color: green;
}

.textCamo {
    color: #4E4B2C;
}

.borderRadius30 {
    border-radius: 30px;
}

.paddingLeft50 {
    padding-left: 50px;
}

.tablePadding {
    padding: 15px 3px 15px 50px;
}

.marginAuto {
    margin: auto;
}

.width50 {
    width: 50%;
}

table.studentTable {
    border: 1px solid #091A34;
    background-color: #F4F4F4;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.studentTable td {
    border: 1px solid #AAAAAA;
    padding: 20px 20px;
}

table.studentTable th {
    border: 1px solid #AAAAAA;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 24px;
}

table.studentTable tbody td {
    font-size: 24px;
}
table.studentTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.studentTable thead {
    background: #091A34;
    background: -moz-linear-gradient(top, #465367 0%, #213148 66%, #091A34 100%);
    background: -webkit-linear-gradient(top, #465367 0%, #213148 66%, #091A34 100%);
    background: linear-gradient(to bottom, #465367 0%, #213148 66%, #091A34 100%);
    border-bottom: 2px solid #091A34;
}
table.studentTable thead th {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table.studentTable thead th:first-child {
    border-left: none;
}

table.studentTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #091A34;
    background: -moz-linear-gradient(top, #465367 0%, #213148 66%, #091A34 100%);
    background: -webkit-linear-gradient(top, #465367 0%, #213148 66%, #091A34 100%);
    background: linear-gradient(to bottom, #465367 0%, #213148 66%, #091A34 100%);
    border-top: 2px solid #444444;
}
table.studentTable tfoot td {
    font-size: 14px;
}
table.studentTable tfoot .links {
    text-align: right;
}
table.studentTable tfoot .links a{
    display: inline-block;
    background: #091A34;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

input {
    height: 43px;
    border: 1px solid #091a34;
    font-size: 24px;
    padding-left: 5px;
}

select {
    height: 43px;
    border: 1px solid #091a34;
    width: 50%;
    font-size: 24px;
    padding-left: 5px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: grey;
}

.textBold {
    font-weight: bold
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.border {
    border: 1px solid #091a34;
}

.paddingLabel {
    padding: 15px 0 5px 0;
}

.padding5 {
    padding: 5px;
}

.paddingTop20 {
    padding-top: 20px;
}

.font24 {
    font-size: 24px;
}

.font20{
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 24px;
}

.modalBtn {
    height: 56px;
    font-weight: bold;
    border: 1px solid #091a34;
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 30px;
}

/*Search Button*/
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #091a34;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    height: 33px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    height: 45px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 10px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.notification:hover {
    background: #091a34;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (min-width: 990px) {
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        text-align: center;
        font-size: 24px;
    }

    .btnMargin {
        text-align: center;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {

    #instructorBtn {
        display: block;
        margin: auto;
    }

    #checkinBtnContainer {
        margin-left: 300px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        text-align: center;
        font-size: 24px;
    }
}

@media only screen and (max-width: 728px) {

    .btn {
        min-width: 300px;
        height: 56px;
        font-weight: bold;
        border: 1px solid #091a34;
        font-size: 24px;
        margin: 20px auto;
        border-radius: 30px;
        background: #aaaaaa;
    }

    .menuBtn {

        height: 43px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 30px;
        background: #091a34;
        color: white;
    }

    .metricsBtn {
        height: 43px;
        font-weight: bold;
        width: 200px;
        margin-bottom: 20px;
        font-size: 24px;
        background: #091a34;
        color: white;
    }

    #mainFilterBtn {
        text-align: center;
    }

    #className {
        padding: 10px;
    }

    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}