<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/css-reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Test Matcher</title>
</head>
<body>

<form action="/api/v1/testers">
    <div style="text-align: center">
        <h1>Test Matcher</h1>
        <br/><br/>
        <Label>Country</Label>

        <select name="countries" id="countries" multiple>
            <option value="ALL">
                All
            </option>
            <option value="US">
                US
            </option>
            <option value="GB">
                GB
            </option>
            <option value="JP">
                JP
            </option>

        </select>
        <Label>Device</Label>
        <select name="deviceIds" id="deviceIds" multiple>
            <option value="0">
                All
            </option>
            <option value="1">
                iPhone 4
            </option>
            <option value="2">
                iPhone 4S
            </option>
            <option value="3">
                iPhone 5
            </option>
            <option value="4">
                Galaxy S3
            </option>
            <option value="5">
                Galaxy S4
            </option>
            <option value="6">
                Nexus 4
            </option>
            <option value="7">
                Droid Razor
            </option>
            <option value="8">
                Droid DNA
            </option>
            <option value="9">
                HTC One
            </option>

            <option value="10">
                iPhone 3
            </option>
        </select>
        <br/>
        <br/>
        <br/>
        <div>
            <input type="submit" value="Search" style="color: cadetblue; size: A4"/>
        </div>

        <p hidden id="deviceIdsValues" th:text="${param.deviceIds}">Test</p>
        <p id="countriesValues" hidden th:text="${param.countries}">Test</p>

        <div th:each="tester : ${testers}">
            <div th:text="${tester.firstName + ' ' + tester.lastName}"></div>
                <div th:each="device : ${tester.mobileDevices}">
                    <p th:text="${device.description}">test</p>
                    <p th:text="${device.numberOfBugsByTester}">test</p>
                </div>
        </div>

    </div>
</form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:inline="javascript">


    let countries = document.getElementById('countries').value;
    let deviceIds = document.getElementById('deviceIds').value;

    const testers = [[${testers}]];

    console.log(testers);

        var name = [[${testers.firstName + ' ' + user.lastName}]];
        var email = [[${user.email}]];
        var age = [[${user.age}]];
        var createdAt = [[${#dates.format(user.created, 'EEE, MMMM dd, yyyy')}]];

</script>
</html>